body{
    margin: 0;
    padding: 0;
    background: url("edu.jpg") fixed;
    min-height: 100%;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}
a:hover {
    text-decoration: none;
}
.pos-f-t{
    display: none;
    z-index: 999;
    position: relative;
}
 ul li {
    list-style-type: none;
    text-align: center;
}
.link{
    font-size: 200%;
    font-family: Cabin Sketch;
    color: lightgrey;
}
#symbol{
    color: lightgrey;
}
.menu ul li a{
    cursor: pointer;
    width: 100%;
}
 .p-4 ul li a{
    cursor: pointer;
    width: 100%;
    padding: 10px 15px 15px 10px;
    border-radius: 30px;
    line-height: 45px;
    margin-top:10px;
    transition: 0.1s all ease-in-out;
}
 h1 {
    margin-top: 20px;
}
.menu {
    z-index: 9999;
}
.mainMenu {
    padding-left: 25px;
    margin-top: 50px;
}
.mainContent {
    overflow-y: scroll;
    max-height: 100vh;
    min-height: 100vh;
}

h1{
    color: cyan;
    font-family: Fredericka the Great;
    font-size: 300%;
    text-align: center;
}
p{
    font-size: 225%;
    font-family: Sacramento;
    color: lightgray;
}
h2{
    font-family: Tangerine;
    color: greenyellow;
    font-size: 300%;
}
.footer h1{
    margin-top: 50px ;
}
.footer p{
    margin-top: 200px;
}
.copyright{
    font-size: 150% ; 
    text-align: center;
}
@media (max-width: 1086px) {
    .mainContent {
        overflow-y: visible;
    } 
    .content {
        width: 100%;
        padding: 5px
    }
    .mainContent {
        min-width: 100% !important;
        padding: 25px;
        margin-top: 5px;
    }
    .mainMenu {
        padding: 0;
    }
    nav ul li a {
        display: block;
        margin:0;
        border-radius: 0;
        text-align: center;
    }
    .logo {
        margin-top: 5px;
        text-align:center;
        padding: 0;
    }
    .nav-collapse {
        display:none
    }
    .pos-f-t {
        display: block;
    }
    .navbar-toggler {
        width: 100%;
    }
}
@media (min-width: 1086px) {
    .top-margin{
        margin-top: 10px;  
    }
}
.footer .content {
    margin:0px auto;
}